name: CI Action AWS KVS WebRTC JS SDK

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  nodejs-ubuntu-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 18, 19, 20, 21, 22, 23, 24 ]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@master
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: npm install
      - name: Run release
        run: npm run release
