name: Deploy and Publish Action WebRTC JS SDK

on:
    push:
        branches:
            - master
jobs:
    publish-ubuntu-build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@master
            - name: Use Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 22
            - name: Build AWS SDK
              working-directory: ./aws-sdk-build
              run: |
                  npm install
                  npm run build
                  rm -rf ../examples/*-kvswebrtc.js
                  mv dist/*-kvswebrtc.js ../examples
            - name: Install dependencies
              run: npm install
            - name: Run release
              run: npm run release
            - name: Deploy to Github pages
              uses: JamesIves/github-pages-deploy-action@v4.2.5
              with:
                  folder: dist
                  branch: gh-pages
                  clean: true
                  clean-exclude: develop/
            - name: Delete extra directories
              run: |
                  # Delete the examples
                  rm -rf examples dist/examples
                  # Remove the infra to build the AWS SDK v3 browser script
                  rm -rf aws-sdk-build
            - name: Deploy to npm packages
              uses: JS-DevTools/npm-publish@v1
              # Don't run this step for forks, only in the original repo
              if: github.repository == 'awslabs/amazon-kinesis-video-streams-webrtc-sdk-js'
              with:
                  token: '${{ secrets.NPM_TOKEN }}'
